
.heroContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, #FBFAF3 0%, #a1c9de 100%);
}

.heroWrapper{
  margin-top: 80px;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heroText{
  z-index: 1;
  position: absolute;
  left: 20%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 500px;
  height: 90%;
  backdrop-filter: blur(5px);
}

.heroText a{
  text-decoration: none;
}

.helloText{
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 24px;
  color: #3C3C3B;
}

.heroText h1{
  padding: 20px 0px ;
  width: 100%;
  font-size: 80px;
  color: #3C3C3B;
  font-family: 'Quicksand', sans-serif;
}

.infoText{
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Nunito', sans-serif;
  color: #024268;
  font-weight: bold;
}

.detailsText{
  font-family: 'Nunito', sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 20px;
  color: #7d7d7d;
}

.locationText{
  font-family: 'Nunito', sans-serif;
  padding: 20px 0px;
  font-size: 20px;
  color: #73655C;
}

.imgWrapper{
  position: relative;
  left: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60%;
}

.callToAction{
  display: flex;
  align-items: center; 
}

.callToAction a:last-of-type{
  margin-left: 20px;
  margin-top: 5px;
}

.imgWrapper img{
  max-width: 100%;
}

.linkedIN{
  color: #3C3C3B;
  transition: .2s ease-in-out color;
}

.linkedIN:hover{
  transition: .2s ease-in-out color;
  color: #0A66C2;
}

@media (max-width: 768px){
  .heroText{
    left: 0%;
  }
}