.hireBtn {
  padding: 12px 20px;
  border: 2px solid #1C2128;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 7px;
  background-color: transparent;
  color: #3C3C3B;
}


.hireBtn::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 7px;
  transition: transform .4s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #3C3C3B;
  color: #F5F7F2;
}

.hireBtn:hover::before, 
.hireBtn:focus::before{
  transform: scaleX(1);
  
}

.hireBtn{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.hireBtn:hover{
  color: whitesmoke;
}

.liveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 90px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 8px;
  border: 3px solid #ff0000;
  color: #575757;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.liveBtn:hover {
  transition: 0.2s ease-in-out;
  opacity: 65%;
}

.btnInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.liveBtn .btnTitle {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.liveBtn .btnLogo {
  text-align: center;
  margin-top: 6px;
}

.gitHubBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 90px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 8px;
  border: 3px solid #1C2128;
  color: #575757;
  cursor: pointer;
  text-decoration: none;
}

.gitHubBtn:hover {
  transition: 0.2s ease-in-out;
  opacity: 65%;
}

.gitHubBtn .btnLogo {
  color: #ADBAC7;
  text-align: center;
  margin-top: 6px;
}
