.hireBtn {
  padding: 10px;
  width: auto;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: whitesmoke;
  background-image: linear-gradient(to right, #096783, #6D7070);
  transition: 0.2s ease-in-out;
}

.hireBtn:hover {
  transition: 0.2s ease-in-out;
  opacity: 90%;
}

.liveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 90px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 8px;
  border: 3px solid #ff0000;
  color: #575757;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.liveBtn:hover {
  transition: 0.2s ease-in-out;
  opacity: 65%;
}

.btnInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.liveBtn .btnTitle {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.liveBtn .btnLogo {
  text-align: center;
  margin-top: 6px;
}

.gitHubBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 90px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 8px;
  border: 3px solid #1C2128;
  color: #575757;
  cursor: pointer;
  text-decoration: none;
}

.gitHubBtn:hover {
  transition: 0.2s ease-in-out;
  opacity: 65%;
}

.gitHubBtn .btnLogo {
  color: #ADBAC7;
  text-align: center;
  margin-top: 6px;
}

.navIcon {
  width: 35px;
  height: 30px;
  margin: 10px 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 999999;
  background-color: transparent;

}

.navIcon span {
  background-color: black;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.navIcon span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 0px;
}

.navIcon span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
}

.navIcon span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0px;
  left: 0px;
}

.navIcon:not(.open):hover span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: -2px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.navIcon:not(.open):hover span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
  transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}

.navIcon:not(.open):hover span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: -2px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.navIcon.open {
  transform: rotate(90deg);
}

.navIcon.open span:nth-child(1) {
  left: 3px;
  top: 12px;
  width: 30px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(90deg);
  transition-delay: 150ms;
}

.navIcon.open span:nth-child(2) {
  left: 2px;
  top: 20px;
  width: 20px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(45deg);
  transition-delay: 50ms;
}

.navIcon.open span:nth-child(3) {
  left: 14px;
  top: 20px;
  width: 20px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(-45deg);
  transition-delay: 100ms;
}

.navBarLinks {
  position: absolute;
  top: -700px;
  left: 0px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}

.navBarLinks.active {
  z-index: 99999;
  width: 320px;
  height: 640px;
  top: 200px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  text-align: center;
  text-decoration: none;
  transition: all ease-in-out 1.2s;
  background-color: #fffcf4;

  a {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 20px 10px;
    margin: 40px 10px;
    display: block;
    width: auto;
    transition: all ease 1.2s;
  }

  a:hover {
    color: #575757;
  }
}

.bgInitial {
  background-image: linear-gradient(0deg, #fffcf4 0%, #a1c9de 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: -2000px;
  left: 0px;
  transition: all .5s ease;
}

.bgInitial.active {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: all.5s ease;
}

.bodyNoScroll {
  overflow: hidden;
}