.contactContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.contactInfoWrapper{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 18px;
}