.navBarContainer{
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.logoWrapper{
  padding: 0 40px;
}

