.footerContainer{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #FBFAF3;
  padding-top: 80px;
}

.firstColumn{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
  padding-top: 100px;
}

.firstColumn img{
  width: 200px;
  height: 200px;
}

.Footerdetails{
  display: flex;
  align-items: center;
}

.firstColumn small{
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 10px;
}