.stackContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.stackImg{
  background-image:
  linear-gradient(to bottom, rgb(251, 250, 243), rgba(188, 216, 229, 0.73)),
  url('https://i.postimg.cc/hvBK8FPB/abstract-light-orange-and-light-blue-wavy-background-3.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stackInfo{
  width: 70%;
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;;
}

.stackImg h2{
  font-size: 48px;
  padding: 20px ;
  font-family: 'Quicksand', sans-serif;
}

.stackCard{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  width: 100px;
  height: 100px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.602);}

.stackCardImg{
  width: 80%;
  height: 80%;
}

.stackIcons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

@media (max-width : 525px) {
  .stackInfo{
    width: 90%;
    padding: 0;
  }
}